nav {
    display: inline-block;
    
    
}

nav ul
{
    display: inline-block;
    
} 


li{
    padding: 5px;
    background: white;
    display: inline-block;
    border: 1px solid red;
    border-radius: 5px;
}