
header {
    margin-left: -0.5%;
    margin-top: -16px;
    min-height: 1vh;
    width: 101%;
    background: rgba(0, 0, 0, 0.397);
    box-shadow: 0px 2px 8px black;
}

nav {
margin: 0 auto;
padding: 0 auto;
box-sizing: border-box;
}

nav ul {
box-shadow: inset 2px black;
 text-align: center;
   /* border: 2px solid rgb(0, 0, 0); */
    border-left: 0px;
    border-right: 0px;
    box-sizing: border-box;

}


nav ul li{
margin: 10px;
padding: 5px; 
display: inline-block;
}

        
a {
   
    font-size: 14pt;
    background-color: rgb(255, 196, 0);
    display: inline-block;
  text-decoration: none;
  transition: .6s;

}

a:hover{
    background-color: rgb(0, 255, 34);
    transition: .6s;
    transform: scale(.9);
    
}



 @media (max-width: 768px) {

    header {
        display: none;
    }

    .dropmenu {
        display: block;
    }
        
} 




    
.dropbtn {
   
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  
}

.dropmenu {
    float: right;
    text-align: center;
    position: relative;
    display: inline-block;
}

.navig {
    margin-top: auto;
    right: 0px;
    /* display: block; */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.747);
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.3s;
    opacity: 0;
    padding:  0px;
}

.navig a {
    margin: 0 auto;
    color: black;
    padding-top: 10px;
    text-decoration: none;
    display: inline-block;
}

.navig a:hover {background-color: #f1f1f1;}
.dropmenu:hover .navig {
    
 transition: 1s;
 opacity: 1;
 /* display: block; */
}
.dropmenu:hover .dropbtn {background-color: #3e8e41;}

    menu ul {
         text-align: center;
         box-sizing: border-box;
    
    }
    
    
    menu ul li{
    margin: 1px;
    padding: 0px; 
    display: inline-block;
    }