body{
    background-attachment: fixed;
    background-image: url(../LearnHtml/images/bg2.jpg);
}

h1 {
  text-align: center;
  margin: auto;
  padding: auto;
  width: 800px;
  color: black;
  background-color: gray;
}

li {
  margin: 5px;
  border: 1px solid black;
  /* display: inline-block; */
}

p {
  text-indent: 20px;
}

a {
  text-decoration: none;
}

.pzs {
  color: rgb(128, 0, 160);
}

td {
  width: 200px;
  height: 100px;
}

p,
h2,
h3,
xmp,
table {
  text-align: justify;
  background-color: rgb(123, 198, 207);
  margin: auto;
  padding: auto;
  width: 800px;
}




.zadanie {
  border: 1px solid black;
  background-color: aquamarine;
}

.frt {
  font-style: italic;
}

.z1 {
  width: 400px;
  height: 300px;
}

.tbtz {
  width: 500px;
  height: 300px;
}

.tbtz td {
  text-align: center;
  font-weight: bold;
}

.tbtz th {
  font-weight: normal;
}

.cursiv {
  font-style: italic;
}

.TNR {
  font-family: "Times New Roman";
}

.ARL {
  font-family: Arial;
}

.GORG {
  font-family: Georgia;
}

.VERD {
  font-family: Verdana;
}

.TREBUC {
  font-family: "Trebuchet MS";
}

.IMP {
  font-family: Impact;
}

.ARBL {
  font-family: "Arial Black";
}

.COMSA {
  font-family: "Comic Sans MS";
}

.COURN {
  font-family: "Courier New";
}

.tz2 {
  font-size: 30px;
  line-height: 45px;
}

.tz3 {
  font-size: 30px;
  line-height: 1.5;
}

p.tz4 {
  text-indent: 20px;
  text-align: justify;
}

.undl {
  color: black;
  text-decoration: Underline;
}

.overl {
  color: red;
  text-decoration: Overline;
}

.inl {
  color: green;
  text-decoration: line-through;
}

.nonel {
  color: red;
  text-decoration: none;
}
.block1 {
  color: red;

}
 .block2{

  color: green;
 }


 .color-red {
  color: red;
}

.color-green {
  color: green;
}

.size100 {

  font-size: 100px;
}

.size200 {

  font-size: 200px;
}


div p {
    text-indent: 30px;
    padding: 10px;
}

.warrning {
  color: red;
  font-size: 20px;
}




