*{
    /* font-family: 'Courier'; */
    font-family: "Courier New";
    /* font-family: 'Optima'; */
    


}

body{
background-size: cover;
    background-attachment: fixed;
background-image: url(../images/bg14.jpg);
}

#content {
    text-align: center;
    padding: 10px auto;
    margin: 10px auto;
 
    padding-top: 100px;
    width: 80vw;
    min-height: 80vh;
    background-color: rgba(255, 255, 255, 0.637);
}

h1, h2 {
    margin-top: 10px;
    display: inline-block;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    padding: 2px;
    letter-spacing: 5px;
}

h3 {
   
    margin-top: 10px;
    display: inline-block;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    padding: 2px;
    letter-spacing: 5px;
}


h1:first-letter {
    font-style: italic;
    background-color: rgb(240, 255, 24);
}

h2:first-letter{
    font-style: italic;
    background-color: rgb(24, 255, 101);
}

p {
    background-color: rgb(255, 255, 255);
    margin: 0px 5%;
    padding: 5px;
    text-indent: 45px;
    text-align: justify;
}

p:first-letter {
    font-size: 25pt;
    background-color: rgb(240, 255, 24);
}





/* Таблицы */
        table {
        max-width: 80%;
        background-color: wheat;
        }

        table, tr, td {
        text-align: center;
        margin: auto;
        margin-top: 10px;

        padding: 5px;
        empty-cells: hide;
        border:  1px solid black;
        }

        th {
        padding: 3px;
        background-color: grey;
      
        }
/* Таблицы */

/* Воспомогательные элементы */
        .prim {
            
            padding: auto;
            margin: 5px auto ;
            background-color: rgb(156, 154, 154);
            width: 50%;
            background-color: rgb(233, 243, 88);
            border-left: 3px dashed red;
            border-radius: 4px 20px 20px 4px;
        }

        .attent {
            font-weight: 800;
            font-family: 'Optima';
            font-size: 22pt;
            color: rgb(163, 8, 8);
        }
        

        .sintaksis {
            
            padding: 5px;
            margin:  5px auto;
           
            background-color: rgb(156, 154, 154);
            width: 50%;
            background-color: rgb(78, 177, 107);
            border-left: 3px dashed red;
            border-radius: 4px 20px 20px 4px;
        }









 /* Воспомогательные элементы */
       

 /* Для практики */

 .z1 
 {
     margin-bottom: 10px ;
     left: 40%;
     background: black;
     height: 300px;
     width: 200px;
     position: relative;
 } 

 .wz1 
 {
     margin-top: 5px ;
     top: 5%;
     left: 25%;
     height: 80px;
     width: 80px;
     border-radius: 50%;
     position: relative;
 } 


 .z2 
 {
    border-radius:50% ;
     margin-bottom: 10px ;
     left: 40%;
     background: black;
     height: 400px;
     width: 400px;
     position: relative;
 } 

 .wz2 
 {

     margin-top: 5px ;
     top: 5%;
     left: 25%;
     height: 80px;
     width: 80px;
     border-radius: 50%;
     position: relative;
 } 


 .wz21 
 {
    border-radius: 50%;
     margin-top: 5px ;
     top: 25%;
     left: 15%;
     height: 50px;
     width: 50px;
     position: absolute;
 } 

 
 .wz22 
 {
    border-radius: 50%;
     margin-top: 5px ;
     top: 25%;
     right: 15%;
     height: 50px;
     width: 50px;
     position: absolute;
 } 

 .wz23 
 {
    border-radius: 50%;
     margin-top: 5px ;
     top: 50%;
     right: 35%;
     height: 50px;
     width: 50px;
     position: absolute;
 } 

 .zz2 {
    border-radius:50% ;
    margin-bottom: 10px ;
    top: 10%;
    left: 12%;
    background: rgb(0, 0, 0);
    height: 300px;
    width: 300px;
    position: absolute;

 }

 .wz24 
 {
    border-radius:50% ;
    margin-bottom: 10px ;
    top: 12%;
    left: 8%;
    background: rgb(255, 255, 255);
    height: 300px;
    width: 280px;
    position: absolute;
 } 






 /* примеры */

 .primfloat {
    background: green;
    margin: auto;
    border: 2px solid red;

 }

 /*Фиксаторы*/

 .clearfix {
    clear: both;
 }

 .floatwidths
 {
    padding: auto;
    margin: auto;
    width: 80%;
 }